repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.7
  hooks:
    - id: ruff-check
      name: " python 路 Format with Ruff"
      args: [ --fix ]

- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
    - id: validate-pyproject
      name: " python 路 Validate pyproject.toml"
      additional_dependencies: ["validate-pyproject-schema-store[all]"]

- repo: https://github.com/hukkin/mdformat
  rev: 0.7.21
  hooks:
    - id: mdformat
      name: " markdown 路 Format markdown"
      additional_dependencies:
        - mdformat-gfm          # GitHub-Flavored Markdown support
        - mdformat-ruff         # Python code formatting
        - mdformat-frontmatter  # YAML frontmatter support
        - ruff                  # Required for mdformat-ruff

- repo: https://github.com/mrtazz/checkmake.git
  rev: 0.2.2
  hooks:
    - id: checkmake
      name: " Makefile 路 Lint Makefile"

# FIXME: pre-commit commitizen hook is not working properly
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.24.0
  hooks:
    - id: commitizen
      name: " Commit 路 Validate commit message"
      stages: [commit-msg]
      additional_dependencies: [cz_conventional_commits]